@import "lato.css";
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

/*Portfolio*/

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding-bottom: 47px;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.portfolio_title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  margin: 0;
  padding-top: 60px;
  color: #666d89;
}

.portfolio_text {
  font-size: 1.5rem;
  letter-spacing: -0.022rem;
  line-height: 30px;
  color: #767e9e;
  margin-bottom: 0;
}

.tags {
  margin: 10px 0 23px 1px;
}

.tag {
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: -0.03rem;
  padding: 2px 6px 3px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #767e9e;
}

.tag_on {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.tag_off {
  border: 1px solid #666d89;
}

.tag:hover {
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

/*Galery*/

.galery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 621px;
  overflow: hidden;
}

.portfolio .pictures {
  display: flex;
  overflow: hidden;
  width: 222px;
  height: 187px;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-left: 0;
}

.portfolio .pictures img {
  padding: 0 10px 16px 10px;
}

.portfolio .pictures div:nth-child(n+13) {
  display: none;
  visibility: hidden;
}

/*About-Us*/

.about-us {
  padding-bottom: 43px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us_title {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  margin: 0;
  padding-top: 59px;
  color: #666d89;
}

.about-us_text {
  font-size: 1.5rem;
  letter-spacing: -0.008rem;
  line-height: 3rem;
  font-weight: 300;
  margin: 0;
  padding-top: 18px;
  color: #767e9e;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.employee {
  padding-top: 45px;
  width: 303px;
}

.employee_title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
  padding: 11px 0;
  color: #666d89;
}

.employee_text {
  font-size: 0.96rem;
  line-height: 2.2rem;
  letter-spacing: -0.0048rem;
  font-weight: 400;
  margin: 0;
  color: #767e9e;
  text-align: justify;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  width: 155px;
}

.icon:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: red;
}
